@import url("https://fonts.cdnfonts.com/css/ford-antenna");

.MuiDataGrid-iconSeparator {
  color: white;
  height: 0px !important;
}

.css-levciy-MuiTablePagination-displayedRows {
  color: white;
}

.MuiDataGrid-selectedRowCount {
  color: white;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color: white !important;
}
.Tab_Optional_Equipment {
  position: relative;
  font-family: "Ford Antenna";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.BoxTab_Optional_Equipment {
  padding-left: 462px;
}

.Tab_Optional_Equipment_com {
  color: #1976d2;
  font-family: "Ford Antenna";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
}
.info_iconTab_Optional_Equipment {
  height: 20px;
  width: 20px;
}
.MuiDataGrid-columnHeaderTitle {
  color: #717171;
  font-size: 18px !important;
  font-style: normal;
  line-height: 22px !important;
  letter-spacing: 0.10000000149011612px;
}

.MuiDataGrid-root {
  border: 0px !important;
  font-family: "Ford Antenna" !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: 0em !important;
  color: #333333 !important;
}
.BoxTab_Optional_Equipment_Co {
  width: 130em;
  height: 600px;
  font-family: "Ford Antenna";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  overflow: hidden;
}
.BoxTab_Optional_EquipmenT {
  width: 130em;
  height: 800px;
  overflow: hidden;
  font-family: "Ford Antenna";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
}

.BoxTab_Optional_Equipmen {
  width: 1128px;
  height: 400px;
  overflow: hidden;
}
.BoxTab_Optional_EquipmenTs {
  width: 1128px;
  height: 100%;
  overflow: hidden;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  padding: 0 4px;
}

.test {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
