.text_h4 {
  font-family: Ford Antenna;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.1px;

  color: #717171;
}

.typeVehileTab {
  width: 340px;
  height: 300px;
  position: absolute;
  background: white;
  padding-left: 1%;
  border: 1.2px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: left;
}
